
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90;
  box-sizing: border-box;
  padding: 20px; /* Same as margin in the component */
}

ngx-charts-tree-map {
  width: 90;
  height: 90%;
}
